body {
    margin: 40px 0;
    background: #3a3329;
    color: #f2d35a;
}

p {
    margin-bottom: 0;
}

.mh20 {
    margin: 0 20px;
}

.pv20 {
    padding: 20px 0;
}

.img {
    display: block;
}

ul {
    margin: 0;
}

table {
    margin: 0;
}

.row {
    background: #000000;
    border: 1px solid #d6aa54;
    border-radius: 4px;
    margin: 20px 0;
}

.block {
    overflow: hidden;
    padding: 25px 20px 20px 20px;
}

.row-name, .row-content {
    padding: 20px;
}

.row-name {
    border-bottom: 1px solid #d6aa54;
    font-size: 20px;
    letter-spacing: 2px;
}

td {
    border: 0;
}

.help {
    padding: 40px 0;
}